* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

main {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar list";
}

header {
  grid-area: "header";
}

.hide {
  display: none;
}

.strike {
  text-decoration: line-through;
  opacity: .2;
}



.sidebar {
  grid-area: "sidebar";
}

.project span{
  margin-right: 10px;
}

.project p {
  display: inline-block;
}



.list {
  grid-area: "list";
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
}

.checkComplete {
  margin-right: 10px;
}

.todo span {
  margin-right: 0;
  margin-left: auto;
}

.deleteBtn {
  margin-left: 10px;
}