@import "./components/sidebar.css";
@import "./components/todoList.css";
@import "./components/editTodo.css";
@import "./components/notes.css";

:root {
  --sidebar-padding: 0 35px;
  --main-border-radius: 35px;
  --main-color: rgb(136, 0, 255);
  --sub-color: rgb(242, 226, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  color: white;
  background-color: var(--main-color);
}

textarea {
  resize: none;
}

html {
  background-color: var(--main-color);
}

html, body{
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar list";
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  padding-left: 35px;
  color: white;
}

.selectable {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.selectable:hover {
  background-color: rgb(235, 235, 235);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all .2s ease-in-out;
}

.selected {
  background-color: var(--sub-color);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: background-color .2s ease-in;
}

.collapse{
  display: none;
  overflow: hidden;
}

.hide {
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.hide:hover {
  opacity: 1;
}

.strike {
  /* text-decoration: line-through; */
  opacity: .2;
}

i,
button,
.selectable,
.todoName,
.editTodo,
.delTodo,
.sortDate,
input[type='checkbox'] {
  cursor: pointer;
}

